$black: #000;
$dark: #333;
$middle: #999;
$light: #eee;
$white: #fff;
$bad: #d3294e;

$maincolor: #58acfa;

$typenormal: #919aa2;
$typefighting: #ce416b;
$typeflying: #8fa9de;
$typepoison: #aa6bc8;
$typeground: #d97845;
$typerock: #c5b78c;
$typebug: #91c12f;
$typeghost: #5269ad;
$typesteel: #5a8ea2;
$typefire: #ff9d55;
$typewater: #5292d6;
$typegrass: #63bc5a;
$typeelectric: #f4d23c;
$typepsychic: #fa7179;
$typeice: #73cec0;
$typedragon: #0b6dc3;
$typedark: #5a5465;
$typefairy: #ec8fe6;
$typeunknown: #999;

$mainfont: "Open Sans", sans-serif;
$googlemainfont: "Open+Sans:300,400,600,700,800";

$detailfont: "Arvo", serif;
$googledetailfont: "Arvo:400,700";
